@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: hsla(148, 89%, 78%, 1);

    background: linear-gradient(45deg, hsla(148, 89%, 78%, 1) 0%, hsla(210, 81%, 22%, 1) 100%);
    
    background: -moz-linear-gradient(45deg, hsla(148, 89%, 78%, 1) 0%, hsla(210, 81%, 22%, 1) 100%);
    
    background: -webkit-linear-gradient(45deg, hsla(148, 89%, 78%, 1) 0%, hsla(210, 81%, 22%, 1) 100%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#95F9C3", endColorstr="#0B3866", GradientType=1 );
    height: 100vh;
}
.back-btn{
    margin-left: 30px;
    
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
h4{
    width: 170px;
    font-size: xx-large;
    color: #ffff;
}
.form-container{
    display: flex;
    width: 450px;
    height: 450px;
    background: grey;
    opacity: 0.75;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    box-shadow: 10px 10px rgb(0, 0, 0);
}
.reg-form{
    /* display: flex; */
    margin: 0 auto;
    z-index: 10;
}

.form-btn{
    position: relative;
    margin: 0 auto;
    height: 35px;
    width: 75px;
    background: black;
    color: white;
    border: 2px solid white;
    border-radius: 6px;
    right: -60px;
}

.field{
    /* background: rgb(26, 24, 24); */
    height: 32px;
    display: block;
    color: black;
    font-weight: bold;
    border-radius: 4px;
}

p{
    display: flex;
}

