<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    <title>Document</title>
</head>
<body>
    {% if messages %}
    {% for message in messages %}
        <p>{{message}}</p>
    {% endfor %}
    {% endif %}   
    <header>
            <a class="back-btn" href="/"><img src="../static/img/left-arrow.png" alt=""></a>
    </header>
    <div class="container">

        
        <div class="form-container">
            <h4>Sign up is now and get started.</h4>
            <form action="/login" method="post" class="reg-form">
                {% csrf_token %}
                        <p><input class="field" type="text" name="email" placeholder="Email" id=""></p>
                        <p><input class="field" type="password" name="password" placeholder="Password" id=""></p>
                        <input class="form-btn" type="submit" value="Login">
                        <p><a href="/signup">Not registered? Click here.</a></p>
            </form>

        </div>

    </div>
</body>
</html>