<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/tripadd.css' %}">
    <title>Document</title>
</head>
<body>
    
    <!-- {% block content %} -->
    
    <a href="/home"><img src="../static/img/back.png" class="back-btn "alt=""></a>
    <div class="container">
            <div class="trip-form"> 
                <form action="/createTrip/" class="form" method="POST"  >
                    <h2>Add trips here.</h2>
                    {% csrf_token %}
                    <!-- {{form.as_p}} -->
                    <label for="city">City</label>
                    <p><input class="field" type="text" name="city" placeholder="City" id=""></p>
                    <label for="city">Country</label>
                    <p><input class="field" type="text" name="country" placeholder="Country" id=""></p>
                    <label for="city">Continent</label>
                    <p><input class="field" type="text" name="continent" placeholder="Continent" id=""></p>
                    <label for="city">Description</label>
                    <p><input class="field" type="text" name="description" placeholder="Description" id=""></p>
                    <label for="city">Photo URL</label>
                    <p><input class="field" type="text" name="photo_url" placeholder="Photo URL" id=""></p>
                    <button type="submit" class="trip-fm-btn">submit</button>
                </form>
            </div>   
    </div>

    <!-- {% endblock %} -->
    
</body>
</html>